<section class="comment-area">
  <div class="comment-wrapper">
    {% assign disqus_shortname = site.disqus_shortname | default:
    site.discus-identifier %} {% if disqus_shortname %}
    <div id="disqus_thread" class="article-comments"></div>
    <script>
      var disqus_config = function () {
        this.page.url = "{{ site.url }}{{ page.url | default: '/' }}";
        this.page.identifier =
          "{{ page.url | default: '/' | replace: '/', '-' | replace: '--', '-' | remove_first: '-' }}";
      };
      (function () {
        var d = document,
          s = d.createElement("script");
        s.src = "https://" + "{{ disqus_shortname }}" + ".disqus.com/embed.js";
        s.setAttribute("data-timestamp", +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript
      >Please enable JavaScript to view the
      <a href="https://disqus.com/?ref_noscript"
        >comments powered by Disqus.</a
      ></noscript
    >
    {% else %}
    <div class="comment-note">
      Comments are enabled here once you add your Disqus shortname to
      <code>_config.yml</code>.
    </div>
    {% endif %}
  </div>
</section>
<!-- End Comment Area -->
