<nav class="navbar" aria-label="Primary navigation">
  <div class="nav-container">
    <a href="{{ '/' | relative_url }}" class="nav-logo">
      <img
        src="{{ site.author-img | relative_url }}"
        alt="{{ site.author }}"
        class="nav-logo-avatar"
      />
      <span class="nav-logo-text">{{ site.author }}</span>
    </a>
    <ul class="nav-menu">
      <li class="nav-item">
        <a href="{{ '/' | relative_url }}" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="{{ '/projects/' | relative_url }}" class="nav-link"
          >Projects</a
        >
      </li>
      <li class="nav-item">
        <a href="{{ '/blog/' | relative_url }}" class="nav-link">Blog</a>
      </li>
      <li class="nav-item">
        <a href="{{ '/portfolio/' | relative_url }}" class="nav-link"
          >Featured Portfolio</a
        >
      </li>
      <li class="nav-item">
        <a href="{{ '/about/' | relative_url }}" class="nav-link">About Me</a>
      </li>
      <li class="nav-item">
        <a href="{{ '/contact/' | relative_url }}" class="nav-link"
          >Contact & Connect</a
        >
      </li>
    </ul>
  </div>
</nav>
