<nav class="navbar">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/" class="nav-logo">
      <img
        src="{{ site.baseurl }}/assets/img/{{ site.author-img }}"
        alt="{{ site.author }}"
        class="nav-logo-avatar"
      />
      <span class="nav-logo-text">{{ site.author }}</span>
    </a>
    <ul class="nav-menu">
      <li class="nav-item">
        <a href="{{ site.baseurl }}/" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="{{ site.baseurl }}/projects" class="nav-link">Projects</a>
      </li>
      <li class="nav-item">
        <a href="{{ site.baseurl }}/blog" class="nav-link">Blog</a>
      </li>
      <li class="nav-item">
        <a href="{{ site.baseurl }}/portfolio" class="nav-link">Portfolio</a>
      </li>
      <li class="nav-item">
        <a href="{{ site.baseurl }}/about" class="nav-link">About Me</a>
      </li>
      <li class="nav-item">
        <a href="{{ site.baseurl }}/contact" class="nav-link">Contact Me</a>
      </li>
    </ul>
  </div>
</nav>
