---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{ '/' | relative_url }}">
          <img
            src="{{ site.author-img | relative_url }}"
            alt="{{ site.author }}"
            class="nav-logo-avatar"
          />
        </a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p class="author-about">{{site.about-author}}</p>
    </div>

    <!-- top social icons removed: footer-only social links preserved -->
  </header>
  <!-- End Header -->
  <footer>
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer>
  <!-- End Footer -->
</aside>
<!-- End Sidebar -->
<div class="content-box clearfix">{{ content }}</div>

<footer class="site-footer">
  <div class="footer-social">
    <p>Follow on:</p>
    <ul>
      {% if site.social-twitter %}
      <li>
        <a
          href="https://twitter.com/{{ site.social-twitter }}"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Follow on Twitter"
          ><i class="fa fa-twitter"></i
        ></a>
      </li>
      {% endif %} {% if site.social-facebook %}
      <li>
        <a
          href="https://facebook.com/{{ site.social-facebook }}"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Follow on Facebook"
          ><i class="fa fa-facebook"></i
        ></a>
      </li>
      {% endif %} {% if site.social-github %}
      <li>
        <a
          href="https://github.com/{{ site.social-github }}"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Follow on GitHub"
          ><i class="fa fa-github"></i
        ></a>
      </li>
      {% endif %} {% if site.social-linkedin %}
      <li>
        <a
          href="https://www.linkedin.com/in/{{ site.social-linkedin }}"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Follow on LinkedIn"
          ><i class="fa fa-linkedin"></i
        ></a>
      </li>
      {% endif %} {% if site.social-email %}
      <li>
        <a href="mailto:{{ site.social-email }}" aria-label="Send an email"
          ><i class="fa fa-envelope-o"></i
        ></a>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="footer-meta">
    <p class="footer-copyright">
      <i class="fa fa-copyright" aria-hidden="true"></i>
      {{ site.time | date: '%Y' }}
    </p>
  </div>
</footer>
