---
layout: main
---
<article class="article-page">
  <div class="page-content">
    {% if page.img %}
    <div class="page-cover-image">
      <figure>
        <img class="page-image" src="{{ "/assets/img/" | relative_url }}{{ page.img }}" alt="{{ page.title }}" loading="lazy" decoding="async">
        {% if page.fig-caption %}
          <figcaption>{{page.fig-caption}}</figcaption>
        {% endif %}
      </figure>
    </div> <!-- End Page Cover Image -->
    {% else %}
    {% endif %}
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <div class="page-date"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%Y, %b %d' }}</time></div>
      </header>
      {% capture share_url %}{{ site.url }}{{ page.url | relative_url }}{% endcapture %}
      {% capture email_body %}Check out this post: {{ share_url }}{% endcapture %}
      {{content | markdownify}}
      <div class="page-footer">
        <div class="page-share">
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank">Twitter</a>
          <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow noopener noreferrer" target="_blank">Facebook</a>
          <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ page.url }}" title="Share on LinkedIn" rel="nofollow noopener noreferrer" target="_blank">LinkedIn</a>
        </div>
        <div class="page-tag">
          {% for tag in page.tags %}
            <a href="{{ '/tags/' | relative_url }}#{{tag}}" class="tag">&#35; {{ tag }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="page-share page-share-bottom">
        <p>Share this post:</p>
        <a href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ share_url | uri_escape }}" title="Share on X" rel="nofollow" target="_blank">X</a>
        <a href="https://facebook.com/sharer.php?u={{ share_url | uri_escape }}" title="Share on Facebook" rel="nofollow noopener noreferrer" target="_blank">Facebook</a>
        <a href="https://bsky.app/" title="Share on Bluesky" rel="nofollow noopener noreferrer" target="_blank">Bluesky</a>
        <a href="mailto:?subject={{ page.title | uri_escape }}&body={{ email_body | uri_escape }}" title="Share via email" rel="nofollow">Email</a>
      </div>
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
